body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* background: #F5F9FC; */
}
.header{
  background-color: black;
}
.space {
  margin-top: 200px;
  
  
}
.space1{
  margin-bottom: 190px;
}
.sect1 {
  background-color: #FFA781;
}


.btn1 {
  /* background: linear-gradient(to left, #00CCE4, #4643F6 ); */
  background: linear-gradient(to left,#FFF76D, #FFF76D );
  color: rgb(247, 60, 3);
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 7px;
  border: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  outline: none;
  cursor: pointer;
}

.btn1:focus {
  
  background: rgb(6, 20, 20);
}

.btn1:active {
  background: #4b4dd3;
}
