body{
    background: white;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.header{
  background: #f1f7f9;

}
a:link {
  text-decoration: none;
}
.logotype{
  display: inline-block;
  margin-left: 30px;
}
.menu{
  font-size: 27px;
  display: inline-block;
  position:absolute;
  right: 50px;
}
.menu li{
  display: inline-block;
  text-decoration: none;
}
.menu a{
  color: #25e16d;
}
.paraph{
  position: relative;
  margin-right: 80px;
  color: #3c3c3c;
  text-align: center;
  font-size: 50px;
}
.paraph h1{
  color: #25e16d;
}
.footer p{
  text-align: center;
  color: #5b48b0;
  font-size: 18px;
  margin-top: 300px;
}
.section{
  padding: 100px;
  border-top: 5px solid  #7893FA;
}
.card{
  float: left;
}
