.web {
    transform: skewY(-2deg);
    border-radius: 20px;
    box-shadow: -10px 5px 10px rgba(201, 201, 201, 0.63);
}
h1 {
    color: rgb(29, 29, 29);
    font-size: 60px;
}
.marginTxt {
    margin-top: 30px;
}
.marginTxt1 {
    margin-top: 60px;
}
.marginTxt2 {
    margin-top: 100px;
}
.t1 {
    color:#00B745;
}
.spa {
    margin-top: 110px;
}
.fitText {
    color: #5f6469;
    font-size: 22px;
    font-weight: 520;
    line-height: 1.5;
    margin-right: 70px;
}
.fitText1 {
    color: #5f6469;
    font-size: 22px;
    font-weight: 520;
    line-height: 1.5;
    margin-right: 60px;
}
.container1 {
    max-width: 1500px;
}
.mates {
    margin-top: 60px;
    position: absolute;
    padding: 200px 0 10px 0;
    width: 100%;
    background-image: url('../img/curve.svg');
} 
