.web {
    transform: skewY(-2deg);
    border-radius: 20px;
    box-shadow: -10px 5px 10px rgba(201, 201, 201, 0.63);
}
h1 {
    color: rgb(29, 29, 29);
    font-size: 60px;
}
.marginTxt {
    margin-top: 30px;
}
.marginTxt1 {
    margin-top: 60px;
}
.marginTxt2 {
    margin-top: 100px;
}
.t1 {
    color:#00B745;
}
.spa {
    margin-top: 110px;
}
.fitText {
    color: #5f6469;
    font-size: 22px;
    font-weight: 520;
    line-height: 1.5;
    margin-right: 70px;
}
.fitText1 {
    color: #5f6469;
    font-size: 22px;
    font-weight: 520;
    line-height: 1.5;
    margin-right: 40px;
}
.container1 {
    max-width: 1500px;
}
.mates {
    margin-top: 60px;
    position: absolute;
    padding: 200px 0 10px 0;
    width: 100%;
    background-image: url('../img/curve.svg');
} 

@media (max-width: 1920px) {
    .b2{
        margin-left: 60px;
    }
    .b3{
        margin-left: 60px;
    }
  }
  
  @media (max-width: 1366px) {
    .b2{
        margin-left: 40px;
    }
    .b3{
        margin-left: 40px;
    }
    
  }
  @media (max-width: 1280px) {
    .b2{
        margin-left: 40px;
    }
    .b3{
        margin-left: 40px;
    }
  
  }
  
  @media (max-width: 1024px) {
    .b2{
        margin-left: 20px;
    }
    .b3{
        margin-left: 20px;
    }
   
  }
  @media (max-width: 992px) {
    .b2{
        margin-left: 30px;
    }
    .b3{
        margin-left: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .b2{
        margin-left: 0px;
    }
    .b3{
        margin-left: 0px;
    }
    
  }
  
  @media (max-width: 575px) {
    .b2{
        margin-left: 0px;
    }
    .b3{
        margin-left: 0px;
    }
  }