body{
  font-family: Circular,Helvetica,Arial,sans-serif;
  margin: 0;
  font-size: 1rem;
}

@font-face { 
  font-family: "Circular"; 
  font-style: normal; 
  font-weight: 600; 
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.2.4/fonts/circular-black.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/8.2.4/fonts/circular-black.woff") format("woff"); 
}
.container {
  max-width: 1300px;
}

/*Responsive */

@media (max-width: 1920px) {
  .font1 {
    font-size: 70px;   
  }
}

@media (max-width: 1366px) {
  .font1 {
    font-size: 50px;
    margin-top: 200px;
    text-align: left;          
  }
  .wave3 {
    margin-top: 90px;
  }
  
}
@media (max-width: 1280px) {
  .font1 {
    font-size: 51px;
    margin-top: 200px;
    text-align: left;        
  }
  .btn0 {
    font-size: 16px;
  }
  .wave3 {
    width: 520px;
  }

}

@media (max-width: 1024px) {
  .font1 {
    font-size: 50px;
    margin-top: 150px;
    margin-left: 70px;
    text-align: left;        
  }
  .btn0 {
    font-size: 17px;
  }
  .wave3 {
    width: 430px;
    padding: 50px 0 80px 0;
  }
  .wave2 {
    padding: 50px 0 80px 0;
    width: 400px;
    margin-top: 11%;
  }
  .wave {
    padding: 5px 0 10px 0;
  }
  .wave1 {
    padding: 50px 0 30px 0;
  }
 
}
@media (max-width: 960px) {
  .font1 {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 0px;
    text-align: left;    
  }
  .btn0 {
    font-size: 17px;
  }
  .p1 {
    font-size: 35px;
  }
  .pretext p {
    font-size: 15px;
  }
  .wave3 {
    width: 400px;
    padding: 50px 0 60px 0;
  }
  .wave2 {
    padding: 50px 0 70px 0;
    width: 390px;
    margin-top: 11%;
  }
  .wave {
    padding: 5px 0 45px 0;
  }
  .wave1 {
    display: none;
  }
  .tip {
    font-size: 35px;
  }
  
}

@media (max-width: 768px) {
  .font1 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  }
  .space {
    margin-top: 80px;
  }
  .font1 {
    font-size: 40px;
  }
  .wave2 {
    padding: 50px 0 70px 0;
    width: 370px;
    margin-top: 12%;
  }
  .wave3 {
    width: 400px;
    padding: 50px 0 50px 0;
    margin-top: 30px;
  }
  .tip {
    font-size: 30px;
  }
  
}

@media (max-width: 575px) {
  .font1 {
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
  }
  .space {
    margin-top: 30px;
  }
  .wave3 {
    width: 360px;
  }
  .wave2{
    width: 350px;
  }
}


