body{
  font-family: "Circular";
  margin: 0;
  font-size: 1rem;
}

@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 900;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/8.2.4/fonts/circular-black.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/8.2.4/fonts/circular-black.woff") format("woff");
}
.wave2 {
  padding: 50px 0 100px 0;
  width: 500px;
  position: absolute;
  margin-top:10%;
  transform: skewY(-8deg);
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 97%);
}
.wave3 {
  margin-top: 120px;
  padding: 50px 0 100px 0;
  width: 600px;
  position: absolute;
  transform: skewY(-8deg);
  background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 97%);  
}
.header{
  font-weight: 100;
  font-size: 18px;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.bg{
  width: 100%;
  background: linear-gradient(180deg, #EAF0F6 350px, rgba(224, 227, 231, 0));
}

.font1 {
  color: #303031;
  margin-top: 140px;
  text-align: left;      
}
.global {
  color: #68D4F8;
}
.space {
  margin-top: 30px;
  
}
.space1{
  margin-bottom: 20px;
}

.btn0 {
  background: #68D4F8;
  color: white;
  text-shadow: 0 1px 3px rgba(185, 185, 185, 0.4);
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 30px;
  border: 0;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  outline: none;
  cursor: pointer;
}
.btn0:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
}
.text-gradient {
  color: #f5f5f5 ;
}
.bubble1 {
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px 1px rgba(28, 28, 39, 0.1);
}

/*Responsive */

@media (max-width: 1920px) {
  .font1 {
    font-size: 59px;   
  }
}

@media (max-width: 1366px) {
  .font1 {
    font-size: 50px;
    margin-top: 200px;
    text-align: left;          
  }
  .wave3 {
    margin-top: 90px;
  }
  .mates {
    position: absolute;
    padding: 40px 0 70px 0;
    width: 330px;
  }
  
}
@media (max-width: 1280px) {
  .font1 {
    font-size: 51px;
    margin-top: 200px;
    text-align: left;        
  }
  .btn0 {
    font-size: 16px;
  }
  .mates {
    left: calc(40% + 352px);
    width: 410px;
  }
  .wave3 {
    width: 520px;
  }

}

@media (max-width: 1024px) {
  .font1 {
    font-size: 50px;
    margin-top: 150px;
    margin-left: 70px;
    text-align: left;        
  }
  .btn0 {
    font-size: 17px;
  }
  .wave3 {
    width: 430px;
    padding: 50px 0 80px 0;
  }
  .wave2 {
    padding: 50px 0 80px 0;
    width: 400px;
    margin-top: 11%;
  }
  .mates {
    left: calc(30% + 307px);
    width: 410px;
  }
  .wave {
    padding: 5px 0 10px 0;
  }
  .wave1 {
    padding: 50px 0 30px 0;
  }
 
}
@media (max-width: 960px) {
  .font1 {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 0px;
    text-align: left;    
  }
  .btn0 {
    font-size: 17px;
  }
  .p1 {
    font-size: 35px;
  }
  .pretext p {
    font-size: 15px;
  }
  .wave3 {
    width: 400px;
    padding: 50px 0 60px 0;
  }
  .wave2 {
    padding: 50px 0 70px 0;
    width: 390px;
    margin-top: 11%;
  }
  .mates {
    left: calc(30% + 262px);
    width: 410px;
    padding: 40px 0 20px 0;
  }
  .wave {
    padding: 5px 0 45px 0;
  }
  .wave1 {
    display: none;
  }
  .tip {
    font-size: 35px;
  }
  
}

@media (max-width: 768px) {
  .font1 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  }
  .space {
    margin-top: 80px;
  }
  .font1 {
    font-size: 40px;
  }
  .wave2 {
    padding: 50px 0 70px 0;
    width: 370px;
    margin-top: 12%;
  }
  .wave3 {
    width: 400px;
    padding: 50px 0 50px 0;
    margin-top: 30px;
  }
  .mates {
    display: none;
  }
  .tip {
    font-size: 30px;
  }
  
}

@media (max-width: 575px) {
  .font1 {
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
  }
  .space {
    margin-top: 30px;
  }
  .wave3 {
    width: 360px;
  }
  .wave2{
    width: 350px;
  }
}

/* ANIMATIONS */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}   
/* END ANIMATIONS */
